<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FQ copy.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>FQ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FQ_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E15D2701D7E68CD00295A9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E15D2891D7E68CD00295A9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E15D2941D7E68CD00295A9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EF2AFCF1D7E9C160016746C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
